@page "/AddPerson"
@inject HttpClient Http
@inject NavigationManager NavigationManager


<div>
    <h1>Add Person</h1>
    <h1>@testy</h1>

    <div>
        <EditForm Model="@add" OnValidSubmit="@AddingPerson">
            <DataAnnotationsValidator />

            <label for="name">First Name:</label>
            <InputText id="name" @bind-Value="@add.firstName" MaxLength="20" placeholder="Enter First Name" />
            <ValidationMessage For="@(() => add.firstName)" />

            <label for="surname">Surname:</label>
            <InputText id="surname" @bind-Value="@add.lastName" MaxLength="20" placeholder="Enter Surname" />
            <ValidationMessage For="@(() => add.lastName)" />

            <label for="address">Address:</label>
            <InputText id="address" @bind-Value="@add.address" MaxLength="20" placeholder="Enter Address" />
            <ValidationMessage For="@(() => add.address)" />

            <label for="date">Date Of Birth:</label>
            <InputDate id="date" @bind-Value="@add.date_of_birth" format="yyyy-MM-dd" placeholder="Enter Date Of Birth" />
            <ValidationMessage For="@(() => add.date_of_birth)" />

            <label for="license">License Number:</label>
            <InputText id="license" @bind-Value="@add.licenseNumber" MaxLength="20" placeholder="Enter License Number" />
            <ValidationMessage For="@(() => add.licenseNumber)" />


            <div>
                <button type="submit">Add Person</button>
                <button @onclick="Goback">Go Back</button>
            </div>
        </EditForm>
    </div>
</div>

