@page "/AddPerson"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components

<AuthorizeView>

    <NotAuthorized>
        <CriminalScum />
    </NotAuthorized>

    <Authorized>
        <div class="centerAddPerson">
    <h1 class="AddPersonHeader">Add Person</h1>
    <h1 class="AddPersonHeader">@testy</h1>

    <div class="addPersonBorder">
        <EditForm Model="@add" OnValidSubmit="@AddingPerson">
            <DataAnnotationsValidator />

            <div class="errorDivForAddPerson2">
                <ValidationMessage For="@(() => add.firstName)" />
            </div>

            <div>
                <label for="name">First Name:</label>
                <InputText id="name" @bind-Value="@add.firstName" MaxLength="20" placeholder="Enter First Name" />
            </div>
            
            <div class="errorDivForAddPerson2">
                <ValidationMessage For="@(() => add.lastName)" />
            </div>

            <div>
                <label for="surname">Surname&nbsp&nbsp&nbsp:</label>
                <InputText id="surname" @bind-Value="@add.lastName" MaxLength="20" placeholder="Enter Surname" />
            </div>

            <div class="errorDivForAddPerson">
                <ValidationMessage For="@(() => add.address)" />
            </div>

            <div>
                <label for="address">Address&nbsp&nbsp&nbsp:</label>
                <InputText id="address" @bind-Value="@add.address" MaxLength="20" placeholder="Enter Address" />
            </div>
            
            <div class="errorDivForAddPerson">
                <ValidationMessage For="@(() => add.date_of_birth)" />
            </div>

            <div>
                <label for="date">Date Of Birth:</label>
                <InputDate id="date" @bind-Value="@add.date_of_birth" format="yyyy-MM-dd" placeholder="Enter Date Of Birth" />
            </div>
            
            <div class="errorDivForAddPerson2">
                <ValidationMessage For="@(() => add.licenseNumber)" />
            </div>
            
            <div>
                <label for="license">License Number:</label>
                <InputText id="license" @bind-Value="@add.licenseNumber" MaxLength="20" placeholder="Enter License Number" />
            </div>
           
            <div class="addPersonButtons">
                <button class="button1" type="submit">Add Person</button>
                <button class="button1" @onclick="Goback">Go Back</button>
            </div>
        </EditForm>
    </div>
</div>

    </Authorized>
</AuthorizeView>

