@page "/AddVehicle"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components


<AuthorizeView>

    <NotAuthorized>
        <CriminalScum />
    </NotAuthorized>

    <Authorized>
        <div class="centerAddVehicle">
    <h3 class="AddPersonHeader">Add Vehicle</h3>

    <div class="addVehicleBoarder">
        <EditForm Model="@add" OnValidSubmit="@AddingVehicle">
            <DataAnnotationsValidator />

            <div class="errorTopDivForAddCar">
                <ValidationMessage For="@(() => add.numberPlate)" />
                <h7 stlye="color:red;">@testy</h7>
            </div>

            <div>
                <label for="plate">Number Plate:</label>
                <InputText id="plate" @bind-Value="@add.numberPlate" MaxLength="20" placeholder="Enter number plate." />
            </div>
            
            <div class="errorDivForAddCar">
                <ValidationMessage For="@(() => add.brand)" />
            </div>

            <div>
                <label for="brand">Car Brand &nbsp&nbsp:</label>
                <InputText id="brand" @bind-Value="@add.brand" MaxLength="20" placeholder="Enter car brand." />
            </div>

            <div class="errorDivForAddCar">
                <ValidationMessage For="@(() => add.model)" />
            </div>

            <div>
                <label for="model">Car Model &nbsp&nbsp:</label>
                <InputText id="model" @bind-Value="@add.model" MaxLength="20" placeholder="Enter car model." />
            </div>

            <div class="errorDivForAddCar">
                <ValidationMessage For="@(() => add.colour)" />
            </div>

            <div>
                <label for="colour">Car Colour&nbsp&nbsp:</label>
                <InputText id="colour" @bind-Value="@add.colour" MaxLength="20" placeholder="Enter car colour." />
            </div>

            <div class="errorDivForAddCar">
                <ValidationMessage For="@(() => add.owner)" />
            </div>
            <div>
                <label for="person">Choose Owner:</label>
                <select class="AddCarSelectOwner" id="person" name="person" @bind="add.owner">
                    <option value=0>-- Choose A Person --</option>
                    @foreach (var person in peoples)
                    {
                        <option value="@person.people_id">Person ID - @person.people_id    @person.first_name @person.last_name</option>
                    }
                </select>
            </div>

            <div class="addCarButtons">
            <button class="button1" type="submit">Add Vehicle</button>
            <button class="button1" @onclick="Goback">Go Back</button>
        </div>
        </EditForm>
    </div>
</div>

    </Authorized>

</AuthorizeView>

