@page "/ChangePassword"

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div>
    <h3>Change Password</h3>
    <h3>@test</h3>

    <div>
        <EditForm Model="@newPass" OnValidSubmit="@changePassword">
        <DataAnnotationsValidator />

            <label for="old">Enter Old Password:</label>
            <InputText id="old" type="password" @bind-Value="@newPass.CurrentPassword" MaxLength="15" />
            <ValidationMessage For="@(() => newPass.CurrentPassword)" />

            <label for="new">Enter New Password:</label>
            <InputText id="new" type="password" @bind-Value="@newPass.NewPassword" MaxLength="15" />
            <ValidationMessage For="@(() => newPass.NewPassword)" />

            <label for="check">Repeat New Password:</label>
            <InputText id="check" type="password" @bind-Value="@newPass.ConfirmPassword" MaxLength="15" />
            <ValidationMessage For="@(() => newPass.ConfirmPassword)" />

            <div>
                <button type="submit">Change Password</button>
                <button @onclick="Goback">Go Back</button>
            </div>

        </EditForm>
    </div>
</div>


