@page "/Login"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject AuthenticationStateProvider AuthStateProvider

<div class="centerLoginSubmit ">
            <div>
                 <h1 class="loginHeader">Please Login</h1>
            </div>

    <div class="loginBoxSubmit">
            <EditForm Model="@loginModel" OnValidSubmit="@GetLogin">
                <DataAnnotationsValidator />


            <div class="LoginStatus">
                    <h5>@test</h5>
                </div>

                <div class="loginErrorHeader">
                    <ValidationMessage For="@(() => loginModel.officerId)" />
                </div>

                <div class="loginText">
                    <label for="name">Officer ID:</label>
                <InputText id="name" @bind-Value="@loginModel.officerId" MaxLength="15" class="loginText"/>
                </div>

                <div class="loginErrorHeader">
                    <ValidationMessage For="@(() => loginModel.password)" />
                </div>

                <div class="loginText">
                    <label for="password">Password:</label>
                <InputText id="password" type="password" @bind-Value="@loginModel.password" MaxLength="15" class="loginText" />
                </div>

                <div class="loginButton">
                    <button class="button1" type="submit">Login</button>
                </div>
            </EditForm>
    </div>
</div>

    


