@page "/PeopleSearch"
@inject HttpClient Http
@inject NavigationManager NavigationManager


<div>
    <div class="PeopleSearchHeader">
        <h1>People Search</h1>
    </div>

    <div class="PoepleSeachBox">
       
            <EditForm Model="@searchModel" OnValidSubmit="@HandleSeach">
                <DataAnnotationsValidator />

                <div>
                    <h7>Enter a partial license number or First Name or Last Name.</h7>
                    
                </div>

            <div class="PeopleSearchError">
                    <ValidationMessage For="@(() => searchModel.searchString)" />
                <h7>@test</h7>
                </div>
                <InputText id="name" @bind-Value="@searchModel.searchString" MaxLength="50" />


            <div class="PeopleSearchButtons">
                    <button class="button1" type="submit">Search</button>
                    <button class="button1" @onclick="Goback">Go Back</button>
                </div>
            </EditForm>
    </div>
   
</div>

