@page "/ReportResults"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="SuroundReportResultsList">
    <h3>Report Results</h3>
    <div class="SuroundReportResults">
        <div style="display:flex; flex-direction:row;">
            <div class="ReportId">Report ID</div>
            <div class="ReportAuthor">Author</div>
            <div class="ReportVehicleId">Vehicle ID</div>
            <div class="ReportOffenderId">Offenders ID</div>
            <div class="ReportOffenceId">Offence ID</div>
            <div class="ReportMadeDate">Report Date</div>
            <div class="ViewReportInfo">More Info</div>
        </div>


        <!-- reiterating through the cars array and displaying it on page in a table -->
        @foreach (var row in reports)
        {
            <div style="display:flex; flex-direction:row;">

                <div class="ReportId">@row.report_id</div>
                <div class="ReportAuthor">@row.author</div>
                <div class="ReportVehicleId">@row.car_id</div>
                <div class="ReportOffenderId">@row.people_id</div>
                <div class="ReportOffenceId">@row.offence_id</div>
                <div class="ReportMadeDate">@row.report_date.ToString("MM/dd/yyyy")</div>
                <div class="ViewReportInfo"><button @onclick="@(() =>  ReportDetails(row.report_id))">See Report</button></div>

            </div>
        }
    </div>

    <div class="CarResultsListButton">
        <button class="button1" onclick="Goback">Go Back</button>
    </div>
</div>
