@page "/ReportSearch"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@using TrafficPoliceBlazor.Client.Components

<AuthorizeView>
    <NotAuthorized>
         <CriminalScum />
    </NotAuthorized>

    <Authorized>
        <div class="centerReportSearch">
    <h3 class="ReportSearchHeader">ReportSearch</h3>

    <div class="ReportSearchBox">
        <EditForm Model="@searchModel" OnValidSubmit="@HandleSeach">
            <DataAnnotationsValidator />
            
            <div class="ReportSearchInfo">
                <h7>Enter an exact vehicle plate or offenders full name or his Id.</h7>
            </div>

            <div class="ReportSearchStatus">
                <ValidationMessage For="@(() => searchModel.searchString)" />
                <h7>@test</h7>
            </div>

            <div>
                <label for="name"></label>
                <InputText id="name" @bind-Value="@searchModel.searchString" MaxLength="50" />
            </div>
            

            <div class="ReportSearchButton">
                <button class="button1" type="submit">Search</button>
                <button class="button1" @onclick="Goback">Go Back</button>
            </div>
        </EditForm>
    </div>
</div>

    </Authorized>
</AuthorizeView>



